.idea/
venv/
/data/**
!/data
!/data/**/
!/data/**/.gitkeep
.env
__pycache__/
*.pyc
*.pyo
*.pyd.
kaggle.json
cache/
!/experiments/bart-finetune/
/experiments/bart-finetune/**
!/experiments/bart-finetune/*.csv
!/experiments/bart-finetune/*.json